<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="<%=prefix%>/boot"></script>
    </head>
    <body>
        <%=body%>
    </body>
</html>
