<!DOCTYPE html>
<html lang="${lang}">
	<head>
		<title>${title}</title>
		<link href="${aggStyleUrl}" rel="stylesheet">
		${head}
	</head>
    {if widget.rootTagName != "body"}<body>{/if}
        ${body}
    {if widget.rootTagName != "body"}</body>{/if}
    
    
	{if jQueryCDN }
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {/if}
	${extScript}
	<script src="${aggScriptUrl}"></script>
</html>
