<html lang="<%=lang%>">
	<style type="text/css">
		<%=style%>
	</style>
	<% if(widget.rootTagName != "body") { %><body><% } %>
		<%=body%>
	<% if(widget.rootTagName != "body") { %></body><% } %>
</html>
